<form ng-submit="submit()" name="createEvent" novalidate>
  <div class="form-group">
    <label>Name:</label>
    <input type="text" class="form-control"
           ng-maxlength='15'
           ng-model="item.name" required>
  </div>
  <div class="form-group">
    <label>Description</label>
    <textarea class="form-control" ng-model="item.description" rows="5"></textarea>
  </div>

  <button class="btn btn-default pull-right"
          ng-class="{disabled: createEvent.$invalid}"
          type="submit" >Create</button>


</form>
<pre>Data: {{event | json}}</pre>
<pre>Form: {{!createEvent.$invalid | json}}</pre>
